.logo {
 width: 20px;
 height: 20px;
 bachground-color: red;
}
.footerOne {
 background-color: black;
}
.one {
  color: green;
  font-faily: Molot bold;
  font-size: 20px;
}
.too {
  color: blue;
  font-faily: Arial Black bold;
  font-sixe: 19px;
}
.three {
  color: red;
  font-faily: Arial Black bold;
  font-size: 19px;
}
nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: block;
  width: 1000px;
  margin: 0 auto 30px;
}
ul {
  margin: 0 auto;
}
a {
  text-decoration: none;
  font-family: 'Arial';
  transition: .5s linear;
}
ul {
 list-style-type: none;
  background: #800000;
  overflow: hidden;
  padding: 0;
}
li {
  float: left;
}
a {
  display: block;
  padding: 1em;
  border-right: 1px solid white;
  background: #800000;
  color: white;
}
a:hover {
  background: #FFC0CB;
}
