.logo {
 width: 50px;
 bachground-color: red;
}
.one {
  color: green;
  font-faily: Arial Black;
  font-size: 14px;
}
.too {
  color: blue;
  font-faily: Arial Black;
  font-sixe: 14px;
}
.three {
  color: red;
  font-faily: Arial Black;
  font-size: 14px;
}
nav {
  display: block;
  width: 1000px;
  margin: 0 auto 30px;
}
ul {
  list-style: none; 
  margin: 0 auto;
}
a {
  text-decoration: none;
  font-family: 'Arial';
  transition: .5s linear;
}
ul {
  background: #D4E7EE;
  overflow: hidden;
  padding: 0;
}
li {
  float: left;
}
a {
  display: block;
  padding: 1em;
  border-right: 1px solid #ADC0CE;
  background: rgba(173, 192, 206, .3);
  color: #800000;
}
a:hover {
  background: #FFC0CB;
}
